@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Avenir;
  src: url(./fonts/avenir_ff/AvenirLTStd-Book.otf);
}
:root {
  --white: #ffffff;
  --primary-color: #1fa1db;
  --black-bg: #231f20;
}
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.container-fluid {
  max-width: 1500px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.primary-btn {
  padding: 14px;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}
.blue-btn {
  background: var(--primary-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  border: none;
  outline: none;
  width: 224px;
  height: 60px;
}
.section-head {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #231f20;
}
.underline {
  height: 1px;
  background: #dddddd;
  margin: 100px 0;
}

/* mobile navbar  */
.open-nav {
  display: none !important;
}
.open-nav ul {
  display: block !important;
  text-align: center;
}
.open-nav nav {
  display: flex !important;
  justify-content: center;
}
.open-nav ul li {
  margin-bottom: 1rem;
}
.open-nav ul li:first-child {
  margin-top: 1rem;
}
.close-nav nav {
  display: none;
}
/* welcome section styling  */
.welcome {
  background: linear-gradient(
      0deg,
      rgba(35, 31, 32, 0.3),
      rgba(35, 31, 32, 0.3)
    ),
    url(./assets/banner-img.svg);
  min-height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15px;
}
.welcome .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 900px;
}

/* navbar styling */
/* #fixedNav{
    position: fixed;
    width: 100%;
} */
header .logo {
  width: 269.47px;
  height: 70px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
#toggleBtn {
  display: none;
}
#toggleBtn img {
  color: var(--primary-color);
  width: 30px;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-head {
  text-align: center;
  /* margin-top: 10%; */
}
.welcome-text {
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: var(--white);
}
.roi {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--white);
}
.banner-head h1 {
  /* margin-top: 247px; */
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  text-align: center;
  color: var(--white);
}
.banner-head button {
  margin-top: 60px;
  margin-bottom: 30px;
}

/* banner-bottom styling */
.banner-bottom {
  background: var(--primary-color);
  min-height: 160px;
}
.banner-bottom > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.banner-bottom .card {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.banner-bottom .card .card-title p {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--white);
}

/* field styling */

.field {
  min-height: 700px;
  padding: 100px 0;
}
.field .container {
  display: flex;
  flex-wrap: wrap;
  gap: 132px;
}
.field-child {
  flex: 1;
}

.field-child p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #231f20;
}
.field-content {
  display: grid;
  place-items: center;
}

/* slaes section styling */

.sales {
  background: #f8f8f8;
  padding: 100px 0;
}
.sales .section-head {
  text-align: center;
  margin-bottom: 60px;
}

.sales .card-container {
  display: flex;
  gap: 61px;
  justify-content: center;
  flex-wrap: wrap;
}
.sales .card-container .card {
  flex: 1;
}
.sales .card-container .card .card-content {
  margin-top: 15px;
  margin-bottom: 30px;
}

/* feedback styling  */

.feedback {
  background: url(./assets/feedback-bg-img.png);
  mix-blend-mode: multiply;
  padding: 160px 0;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
.feedback .card-container {
  display: flex;
  gap: 110px;
  flex-wrap: wrap;
}
.feedback .card-container .card {
  flex: 1;
  display: flex;
  gap: 30px;
}
.feedback .card-container .card .card-profile {
  text-align: center;
  margin-top: 10px;
}
.feedback .card-container .card .card-profile p {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--white);
}
.feedback .card-container .card .feedback-content p {
  font-family: Avenir !important;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--white);
}

/* tools section styling */
.tools {
  padding: 100px 0;
}
.tools .section-head {
  margin-bottom: 40px;
}
.tools .planning {
  display: flex;
  gap: 133px;
  flex-wrap: wrap;
}
.tools .steps {
  margin-bottom: 50px;
}
.tools .flex-1 {
  flex: 1;
}
.tools .steps h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #231f20;
  margin-bottom: 10px;
}
.tools .steps span {
  background: var(--primary-color);
  color: var(--white) !important;
  border-radius: 10px;
  padding: 5px 16px;
  margin-right: 15px;
}
.tools .steps p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #231f20;
}
.tools .results {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.tools .results .card {
  text-align: center;
  flex: 1;
  min-height: 130px;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  padding: 49px 29px;
}
.tools .results .card img {
  position: relative;
  bottom: 69px;
}

/* about section styling  */
.about {
  min-height: 910px;
  background: #f8f8f8;
  padding: 100px 0;
  text-align: center;
}
.about .section-head {
  margin-bottom: 60px;
}
.about .about-container {
  display: flex;
  justify-content: center;
  gap: 140px;
  flex-wrap: wrap;
}
.about .about-container .image img {
  width: 100%;
}
.about .about-container .flex-1 {
  flex: 1;
}
.about .about-container .content p {
  text-align: left !important;
  margin-bottom: 2.5rem;
}

/* works section styling */

.works {
  padding: 100px 0;
  background: var(--primary-color);
}
.works .container {
  display: flex;
  justify-content: center;
  gap: 132px;
  flex-wrap: wrap;
}
.works .flex-1 {
  flex: 1;
}

.works h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  color: #ffffff;
}
.works .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
}
.works button {
  background: var(--white);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--primary-color);
  border-radius: 5px;
  border: none;
  outline: none;
  width: 224px;
  height: 60px;
}
.companies {
  padding: 60px 0;
  min-height: 270px;
}
.companies .company-container {
  max-width: 1300px;
  padding: 15px 0;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  /* display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center; */
}
/* .companies .company-container .slider-left{
  position: absolute;
  display: inline;
  top: 50%;
  left: -50px;

} */
.companies .company-logos {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.companies .card {
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding: 50px 59px;
}
.companies .company-logos .card img {
  height: 59px;
  width: 160px;
}
/* footer section styling */
.footer-underline {
  background: #dddddd;
  opacity: 0.2;
  height: 1px;
  margin: 30px 0;
}
.footer {
  background: #231f20;
  padding: 60px 0;
}
.footer p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8c8c8c;
}
.footer .navlist a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8c8c8c;
}
.footer .contact .question {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #8c8c8c;
}
.footer .contact .via {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: var(--primary-color);
}
.upper-footer,
.middle-footer,
.lower-footer {
  display: flex;
  justify-content: space-between;
}
.footer .address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer .address .location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer .navlist {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.footer .media-icon img {
  margin-left: 10px;
}
.footer .lower-footer .left {
  display: flex;
  gap: 59px;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .lower-footer .left .contact {
  display: flex;
  gap: 17px;
}

/* mediaquery styling for responsiveness */

@media screen and (max-width: 768px) {
  section {
    padding: 65px 0 !important;
  }
  .open-nav {
    display: block !important;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    background: var(--primary-color);
    left: 0;
  }
  .navbar nav,
  .navbar .nav-btn {
    display: none;
  }
  #toggleBtn {
    display: inline-block;
  }
  .field .container {
    display: block;
    text-align: center;
  }
  .field .container img {
    width: 100% !important;
  }
  .tools .planning {
    display: block;
    text-align: center;
  }
  .tools .route {
    margin-top: 2rem;
  }
  .about .about-container {
    display: block;
  }
  .works .container {
    display: block;
    text-align: center;
  }
  .works .content {
    display: block;
  }
  .works .content button {
    margin-top: 2rem;
  }
  .works .image {
    margin-top: 2rem;
    text-align: center;
  }
  .works .image img {
    width: 100% !important;
  }
  .field .section-head {
    margin-bottom: 1.5rem;
  }
  .footer {
    text-align: center;
  }
  .upper-footer,
  .middle-footer,
  .lower-footer {
    display: block;
    text-align: center;
  }
  .footer .logo {
    margin-bottom: 1rem;
  }
  .footer .navlist {
    margin-bottom: 1rem;
  }
  .footer .lower-footer .left {
    margin-bottom: 1rem;
  }
  .footer {
    padding: 30px 0;
  }
}

@media screen and (max-width: 576px) {
  .section-head {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
  }
  section {
    padding: 25px 0 !important;
  }
  .underline {
    margin: 1.5rem 0;
  }
  .banner-head {
    margin-top: 1rem !important;
  }
  .banner-head button {
    margin: 1rem 1rem;
  }
  .banner-head h1 {
    font-size: 40px;
    line-height: 60px;
  }
  .banner-bottom > .container {
    display: block;
    padding: 0 15px;
  }
  .banner-bottom .card {
    justify-content: flex-start;
  }
  .feedback .card-container .card {
    display: block;
  }
  .feedback .card-container .card .feedback-content p {
    text-align: center;
  }
  .feedback .card-container {
    display: block;
  }
  .feedback .card-container .card {
    margin-bottom: 2rem;
  }
  .about .section-head,
  .sales .section-head {
    margin-bottom: 1rem;
  }
  .sales .card-container {
    gap: 30px;
  }
  .sales .card-container .card {
    text-align: center;
  }
  .footer .lower-footer .left .contact {
    display: block;
  }
  .footer .lower-footer .left .contact {
    justify-content: center;
  }
  .footer .lower-footer .left {
    gap: 1rem;
  }
  header {
    gap: 0.6rem;
  }
  .welcome .logo img {
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .primary-btn {
    padding: 9px;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: capitalize;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
  }
  .blue-btn {
    background: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--white);
    border-radius: 5px;
    border: none;
    outline: none;
    width: 150px;
    height: 40px;
  }
  .welcome .logo img {
    width: 100%;
  }
  header {
    gap: 1rem;
  }
  .feedback .card-container .card {
    display: block;
  }
  .banner-head h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .banner-bottom .card {
    display: block;
    text-align: center;
  }
  .banner-bottom .card img {
    width: 50px;
  }
  .banner-bottom .card .card-title p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
  .companies .card {
    padding: 25px 4px;
  }
  .companies .slider-left,
  .companies .slider-right {
    display: none;
  }
  .works button {
    width: 150px;
    height: 40px;
  }
  .works h2,
  .tools .section-head{
    font-size: 23px;
    line-height: 33px;
  }
  .tools .results .card{
    padding: 49px 3px;
  }
  .footer .address {
    display: block;
  }
  .footer .logo img {
    width: 100%;
  }
}
